.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
    background-color: purple;

}

.yellow{
    background: yellow;
}

div{
    height:80px;
    text-align: center;

}
.green{
    background: green;
}

body{
   text-align: center;
}