.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
    height:80px;
    background-color: purple;
    text-align: center;
    

}

.yellow{
    background: yellow;
    margin:10px;
}

div{
    height:60px;
   

}
.green{
    background: green;
    margin:10px;
}

span{
    display:block;
    margin-top:20px;
}
