*{
  margin:0px;
}
body{
  background-color: blue;
  height: 97vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50px 2fr 1fr;
}

h1{
  background: yellow;
  grid-row:1;
  grid-column: 1/3;
}

.people-container{
  grid-row:2/4;
  grid-column: 1;
  background: green;
}

.shuffle-box{
  grid-row:2/4;
  grid-column: 2;
  background: rgb(96, 82, 219);
}

input{
  display: block;
}

button{
  background: rgb(60, 216, 94); 
  font-size: 23px;
}