/*143*/
*{
	margin:0;
	padding:0;
}



.doboz1 {
  
  background:rgb(14,146,161) ;
  margin-top: 4px;
  margin-left:4px;
   width: 368px;
  height: 143px;
  border: 5px solid rgb(119,204,164);
}



.doboz2 {

  background:rgb(14,146,161) ;
  margin-top: 17px;
  margin-left:4px;
  width: 368px;
  height: 143px;
  border: 5px solid rgb(119,204,164);
}


.doboz3 {
  background:rgb(14,146,161) ;
  margin-top: 17px;
  margin-left:4px;
  margin-bottom: 6px;
  width: 368px;
  height: 143px;
  border: 5px solid rgb(119,204,164);
}

p{
	font-size: 36px;
	color:rgb(0,91,110);
	padding-top: 12px;
	padding-left: 17px;

}