*{
    margin:0px;
}
p{
    background: red;
}

body{
    height: 2000px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background: rgb(183 ,179 , 178);
}

header{
    margin: 0px;
    /* margin-left: 0px; */
    width: 100%;
    height: 250px;
    /* background: rgb(119, 31, 60); */
    margin-bottom: 30px;
    position:fixed;
    
}

.about{ 
    background: rgb(251,251,251);
    font-size: 25px;
    height: 50px;
    padding-top: 20px;
    padding-left: 23px;
}

.panel{
    right:0px;
    width: 31%;
    height: 420px;
    margin-top: 18%;
    margin-right: 1%;
    background: rgb(245,245,245);
    position:fixed;
    background: pink;
}

.posts {
    float: left;
    top: 260px; 
    margin-top: 18%; 
    width: 65%;
    height: 100%;
    margin-left: 1%;
   
}

.post{
    background: lime;
    width: auto;
    height: 125px;
    border:2px solid rgb(183 ,179 , 178);
}

.votebox{
    width: 20%;
    height: 100%;
    background:white;

}

.upvote{
    margin-left: 40%;
    width: 30%;
    height: 25%;
    padding-top: 9%;
    
}
.downvote{
    margin-left: 40%;
    height: 33%;


}
.post-point{
    height: 21%;
    margin-left: 30%; 

}

img{
    width: 25px;
}

li{
    background: pink;
}

#banner{
    width:auto;
}

#input1, #input2{
    padding-right: 150px;
    margin-top:10px;
 }
#input1{
    margin-top:10px;
}

.gifanim1 {
    -webkit-animation: infinite steps(12);
}

.submit {
    width: 488px;
    height: 68px;
    background: rgb( 78 ,162 ,220);
    font-size: 33px;
    border: 5px solid rgb(183 ,179 , 178);
    color: white;
    /* padding-left: 62px; */
    margin-left: -9px;
}

#link{
    font-size: 18px;
    color: rgb( 78 ,162 ,220);

}
.list-items{
    padding-top: 25px;
    padding-left: 21px;
}

.bullshit{
    background-color: pink;
    padding-left: 131px;
    padding-top: 25px;
    font-size: 31px;
}